

.menu-icon {
  position: absolute;
  top: 8px;
  right: 16px;
}


.statistic-icon{
  background-color: rgb(228, 224, 224);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
