* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(245, 246, 250);
}

.flex {
  display: flex;
flex-direction: row;

}

.grid {
  /* temp */
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.grid-1-3 {
  grid-column-end: span 3;
}

.grid-1-2 {
  grid-column-end: span 2;
}
